.detail-view {
  padding: 0 40px 40px;

  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    &-item {
      width: 320px;
      height: 80px;
      padding: 10px;
    }

    &-label {
      font-weight: bold;
      border-bottom: solid 2px;
    }

    &-content {
      padding: 8px;
    }
  }
}

table {
  width: 100%;
}
