
<section class="detail-view"
         *ngIf="machine$ | async as machine">

    <h1>Machine</h1>
    <ul class="detail-view__list">
        <li class="detail-view__list-item">
            <div class="detail-view__list-label">ID </div>
            <div class="detail-view__list-content">{{ machine.id }}</div>
        </li>
        <li class="detail-view__list-item">
            <div class="detail-view__list-label">STATUS </div>
            <div class="detail-view__list-content">{{ machine.status }}</div>
        </li>
        <li class="detail-view__list-item">
            <div class="detail-view__list-label">TIMESTAMP </div>
            <div class="detail-view__list-content">{{ machine.timestamp | date:'MMM d, y, h:mm:ss a' }}</div>
        </li>
        <li class="detail-view__list-item">
            <div class="detail-view__list-label">MACHINE-TYPE </div>
            <div class="detail-view__list-content">{{ machine.machine_type }}</div>
        </li>
        <li class="detail-view__list-item">
            <div class="detail-view__list-label">INSTALL-DATE </div>
            <div class="detail-view__list-content">{{ machine.install_date | date }}</div>
        </li>
        <li class="detail-view__list-item">
            <div class="detail-view__list-label">LAST-MAINTENANCE </div>
            <div class="detail-view__list-content">{{ machine.last_maintenance | date }}</div>
        </li>
        <li class="detail-view__list-item">
            <div class="detail-view__list-label">FLOOR </div>
            <div class="detail-view__list-content">{{ machine.floor }}</div>
        </li>
        <li class="detail-view__list-item">
            <div class="detail-view__list-label">LONGITUDE </div>
            <div class="detail-view__list-content">{{ machine.longitude }}</div>
        </li>
        <li class="detail-view__list-item">
            <div class="detail-view__list-label">LATITUDE </div>
            <div class="detail-view__list-content">{{ machine.latitude }}</div>
        </li>
    </ul>

    <h2>Events</h2>

    <table mat-table [dataSource]="machine.events">
        <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef> TIMESTAMP</th>
            <td mat-cell *matCellDef="let element">
                {{element.timestamp | date}}
            </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> STATUS</th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</section>
