
$color-active-color: #3E9469;
$color-warn-color: #FF404B;
$color-inactive-color: #39494C;
$color-pending-color: #46AE9B;



table {
  width: 100%;
}

.cell {
  &__status {
    &--idle {
      color: $color-inactive-color;
    }

    &--running {
      color: $color-active-color;
    }

    &--finished {
    }

    &--errorred {
      color: $color-warn-color;
      font-weight: bold;
    }
  }

  &__link {
    text-decoration: none;
    color: #143055;
    font-weight: bold;
  }
}
