<table mat-table [dataSource]="liveMachine$" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID</th>
        <td mat-cell *matCellDef="let element">
            <a class="cell__link" [routerLink]="[element.id]">{{element.id}}</a>
        </td>
    </ng-container>

    <ng-container matColumnDef="machine_type">
        <th mat-header-cell *matHeaderCellDef> MACHINE-TYPE</th>
        <td mat-cell *matCellDef="let element"> {{element.machine_type}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> STATUS</th>
        <td mat-cell *matCellDef="let element" class="cell__status--{{element.status}}"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef> TIMESTAMP</th>
        <td mat-cell *matCellDef="let element"> {{element.timestamp | date:'MMM d, y, h:mm:ss a'}} </td>
    </ng-container>

    <ng-container matColumnDef="floor">
        <th mat-header-cell *matHeaderCellDef> FLOOR</th>
        <td mat-cell *matCellDef="let element"> {{element.floor}} </td>
    </ng-container>

    <ng-container matColumnDef="last_maintenance">
        <th mat-header-cell *matHeaderCellDef> LAST MAINTENANCE</th>
        <td mat-cell *matCellDef="let element"> {{element.last_maintenance | date}} </td>
    </ng-container>

    <ng-container matColumnDef="install_date">
        <th mat-header-cell *matHeaderCellDef> INSTALL DATE</th>
        <td mat-cell *matCellDef="let element"> {{element.install_date}} </td>
    </ng-container>

    <ng-container matColumnDef="longitude">
        <th mat-header-cell *matHeaderCellDef> LONGITUDE</th>
        <td mat-cell *matCellDef="let element"> {{element.longitude}} </td>
    </ng-container>

    <ng-container matColumnDef="latitude">
        <th mat-header-cell *matHeaderCellDef> LATITUDE</th>
        <td mat-cell *matCellDef="let element"> {{element.latitude}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

